p{
   margin-left:0;
   text-align: justify;
   color:#CCCCCC;
   font-size:15px;
}
.imail, .iphone, .home, .login, .aboutus, .contctno, .conditions{
    color:#999999;
    font-size:15px;
    
}
h6{
    text-decoration:underline;
    font-size:18px;
}
